#startButton {
  position: relative;
  top: 19%;
  left: 8%;
  font-size: 15px;
}

#timer {  
  border: none;
  position: absolute; 
  height: 30px;
  width: 30px;
  top: 16%;
  left: 45%;
}

#czas {
  display: inline-block;
  position: absolute;
  left: 60%;
  top: 1%;
  font-size: 16px;
}

.timeContainer {  
  position: absolute;
  left: 35%;
  height: 6vh;
  width: 250px;
  padding: 3px;
}

.ball {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: whitesmoke;
  top: 10px;
  position: absolute;
  left: 10px;
}

.hole, .goodHole {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.hole {
  background: black;
}

.goodHole {
  background: green;
}

.container {
  background-color: grey;
  position: absolute;
  width: 60%;
  height: 85vh;
  top: 10vh; 
  left: 20%;
  right: 20%;
  z-index: -2;
}