#note-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #note-form input,
  #note-form textarea,
  #note-form button {
    margin: 10px;
    padding: 10px;
  }
  
  #note-form input[type="color"] {
    width: 50px;
  }
  
  .note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
  
  .pinned {
    font-weight:bold;
    text-transform: uppercase;
    color: yellow;
  }

  ul {
    list-style: none;
}

#edit-form {
  display: none;
}
  
